{% extends 'base.html' %}

{% block title %}
    {% load static %}
{% endblock %}

{% block content %}
{{userdj}} <a href="{% url 'main:update_userdj'%}">Обновить дату</a>

<h1>Список клиентов</h1>
    <a href="{% url 'main:create_customer' %}">Создать нового клиента</a>
    <ul>
        {% for customer in customers %}
            <li>
                {{ customer }} 
                <a href="{% url 'main:update_customer' customer.customer_id %}">Редактировать</a>
            </li>
        {% endfor %}
    </ul>
<h1>Список поставщиков</h1>
    <a href="{% url 'main:create_supplier' %}">Создать нового поставщика</a>
    <ul>
        {% for supplier in suppliers %}
            <li>
                {{ supplier }} 
                <a href="{% url 'main:update_supplier' supplier.supplier_id %}">Редактировать</a>
            </li>
        {% endfor %}
    </ul>

<h1>Список складов</h1>
    <!-- <a href="{% url 'main:create_warehouse' %}">Создать новый склад</a> -->
    <ul>
        {% for warehouse in warehouses %}
            <li>
                {{ warehouse }} 
                <a href="{% url 'main:update_warehouse' warehouse.warehouse_id %}">Редактировать</a>
            </li>
        {% endfor %}
    </ul>

<h1>Список продуктов на складе</h1>
    <a href="{% url 'main:create_warehouse_products' %}">Купить продукт</a>
    <ul>
        {% for warehouse_product in warehouse_products %}
            <li>
                {{ warehouse_product }} 
            </li>
        {% endfor %}
    </ul>

<h1>Список продуктов</h1>
    <a href="{% url 'main:create_product' %}">Создать продукт</a>
    <ul>
        {% for product in products %}
            <li>
                {{ product }} 
                <a href="{% url 'main:update_product' product.product_id %}">Редактировать</a>
            </li>
        {% endfor %}
    </ul>

    <h1>Список цен</h1>
    <a href="{% url 'main:create_supplier_product_price' %}">Создать новый продукт</a>
    <ul>
        {% for supplier_product_price in supplier_product_prices %}
            <li>
                {{ supplier_product_price }} 
                <a href="{% url 'main:update_supplier_product_price' supplier_product_price.supplier_product_price_id %}">Редактировать</a>
                <a href="{% url 'main:delete_supplier_product_price' supplier_product_price.supplier_product_price_id %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>

    <h1>Список Рецептов</h1>
    <a href="{% url 'main:create_recipe' %}">Создать новый рецепт</a>
    <a href="{% url 'main:create_recipe_products' %}">Добавить продукт в рецепт</a>
    <ul>
        {% for recipe in recipes %}
            <li>
                {{ recipe.recipe }} 
                <a href="{% url 'main:update_recipe' recipe.recipe.recipe_id %}">Редактировать</a>
                <ul>
                    {% for product in recipe.recipe_products %}
                        <li>
                            {{ product }} 
                            <a href="{% url 'main:update_recipe_products' product.recipe_products_id %}">Редактировать</a>
                            <a href="{% url 'main:delete_recipe_products' product.recipe_products_id %}">Удалить</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <h1>Список заказов</h1>
    <a href="{% url 'main:create_order_list' %}">Создать заказ</a>
    <ul>
        {% for order in order_list %}
            <li>
                {{ order }} 
                <a href="{% url 'main:update_order_list' order.order_list_id %}">Редактировать</a>
                <a href="{% url 'main:delete_order_list' order.order_list_id %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>

    <h1>Список производств</h1>
    <a href="{% url 'main:create_workshop' %}">Создать производство</a>
    <ul>
        {% for workshop in workshops %}
            <li>
                {{ workshop }} 
                <a href="{% url 'main:update_workshop' workshop.workshop_id %}">Редактировать</a>
                <a href="{% url 'main:delete_workshop' workshop.workshop_id %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>

    <h1>Список чеков</h1>
    <a href="{% url 'main:cheque_list' %}">Отчет о покупках-продажах</a>
    <ul>
        {% for cheque in cheque_list %}
            <li>
                {{ cheque.cheque }} 
                <ul>
                    {% for product in cheque.cheque_product %}
                        <li>
                            {{ product }} 
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <h1><a href="{% url 'main:debiting_list' %}">Список списаний</a></h1>
    <ul>
        {% for debiting in debiting_list %}
            <li>
                {{ debiting }} 
            </li>
        {% endfor %}
    </ul>

{% endblock %}
